{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>{{ 'title.user_list'|trans }}</h1>
    <div id="sidebar" class="col-sm-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'label.id'|trans }}</th>
                    <th><i class="fa fa-user"></i> {{ 'label.username'|trans }}</th>
                    <th><i class="fa fa-envelope"></i> {{ 'label.emial'|trans }}</th>
                    <th><i class="fa fa-calendar"></i> {{ 'label.lastlogin'|trans }}</th>
                    <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.getId }}</td>
                    <td>{{ user.getUsername }}</td>
                    <td>{{ user.getEmail }}</td>
                    <td>{{ user.getLastLogin|date('Y-m-d H:i') }}</td>
                    <td>
                        <div class="item-actions">
                            <a href="{{ path('admin_user_show', { id: user.id }) }}" class="btn btn-sm btn-default">
                                {{ 'action.show'|trans }}
                            </a>
                            <a href="{{ path('admin_post_edit', { id: user.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">{{ 'user.no_posts_found'|trans }}</td>
               </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block sidebar %}
        <div id="sidebar" class="col-sm-3">
            <div class="section actions">
                <a href="{{ path('admin_building_new') }}" class="btn btn-lg btn-block btn-success">
                    <i class="fa fa-plus"></i> {{ 'action.create_user'|trans }}
                </a>
            </div>
            <div class="section about">
                <div class="well well-lg">
                    <a href="{{ path('groups_index') }}"> {{'admin.goups.index'|trans }}</a>
                </div>
            </div>
        </div>
    {% endblock %}
