{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ user.username}}</h1>
    
    <i class="fa fa-user-secret fa-5" style="font-size: 12em;"></i>
    
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.user_email'|trans }}</th>
                <td>{{ user.email}}</td>
            </tr>
            <tr>
                <th>{{ 'label.last_login'|trans }}</th>
                <td>{{ user.lastlogin|date('m/d/Y') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.enabled'|trans }}</th>
                <td>{{ user.enabled}}</td>
            </tr>
            <tr>
                <th>{{ 'label.roles'|trans }}</th>
                <td>{% for role in user.roles %}
                        {{role}}<br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.apartments'|trans }}</th>
                <td>{% for apt in user.apartments %}
                        {{ apt.number }}<br/>
                    {% endfor%}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.vehicle'|trans }}</th>
                <td><p>
                    <i class="fa fa-bicycle"></i>
                    <i class="fa fa-motorcycle"></i>
                    <i class="fa fa-car"></i>
                    <i class="fa fa-truck"></i>
                    </p></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_users_index', { id: user.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    {#<div class="section">
        {{ include('admin/default/_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_post'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>#}

{% endblock %}
