{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_index' %}

{% block main %}
    
    <h3>Admin part index</h3>
       
    <div class="row">
        <div class="col-sm-3">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-md" href="{{ path('admin_users_index')}}">
                        <i class="fa fa-users"></i> {{ 'menu.user_list'|trans }}
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-md" href="{{ path('admin_building_index') }}">
                        <i class="fa fa-building"></i> {{ 'menu.building'|trans }}
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-md" href="#">
                        <i class="fa fa-paper-plane"></i> {{ 'menu.visitors'|trans }}
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-md" href="#">
                        <i class="fa fa-calendar"></i> {{ 'menu.schedule'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'video'|trans|raw }}
                </p>
                <p>
                    <iframe width="440" height="315" src="https://www.youtube.com/embed/3GY0hF3h5iU" frameborder="0" allowfullscreen></iframe>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="jumbotron">
                <a href="#">
                    {% image '@ConciergeBundle/Resources/public/images/alarm.jpg' %}
                        <img src="{{ asset_url }}" alt="Alarm" />
                    {% endimage %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}