{% extends 'base.html.twig' %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('admin_index')}}">
            <i class="fa fa-home"></i> {{ 'menu.homepage'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users_index') }}">
            <i class="fa  fa-video-camera"></i>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users_index') }}">
            <i class="fa  fa-line-chart"></i>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users_index') }}">
            <i class="fa  fa-usd"></i>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users_index') }}">
            <i class="fa fa-wrench fa-spin"></i>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users_index') }}">
            <i class="fa fa-search"></i>
        </a>
    </li>
{% endblock %}
