{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, { method: ..., action: ..., attr: { novalidate: 'novalidate' } }) }}
#}

{{ form_start(form, { method: 'POST', action: path('apartment_new', { 'building_id': building.id }) }) }}

    {{ form_widget(form) }}
    <input type="submit" value="{{ 'label.create_post'|trans }}" class="btn btn-primary" />
    
{{ form_end(form) }}
