{% extends 'admin/layout.html.twig' %}

{% block main %}
    <div id="sidebar" class="col-sm-9">
        <h1>{{ apartment.number }}</h1>

        <i class="fa fa-h-square fa-5" style="font-size: 12em;"></i>

        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'label.number'|trans }}</th>
                    <td>{{ apartment.number}}</td>
                </tr>
                <tr>
                    <th>{{ 'label.user'|trans }}</th>
                    <td>
                        {% for usr in apartment.users %}
                            <a href=" {{ path('admin_user_show', {id : usr.id}) }} ">
                                <i class="fa fa-user-secret"></i>{{usr.username}}
                            </a></br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="col-sm-3">
        <div class="section">
            <a href="{{ path('admin_apartment_edit', { id: apartment.id }) }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
            </a>
        </div>
        <div class="well well-lg">
            <a href="{{ path('admin_building_show', {id:apartment.building.id}) }}" class="btn btn-link btn-block">
                <i class="fa fa-backward"></i>{{ 'action.back_to_list'|trans }}
            </a>
        </div>
    </div>

{% endblock %}
