{% extends 'admin/layout.html.twig' %}

{% block main %}
    <div id="sidebar" class="col-sm-9">
        <h1>{{ 'title.edit_building'|trans({'%id%': building.id}) }}</h1>

        {{ include('default/_flash_messages.html.twig') }}

        {{ form_start(form_edit, { attr: attr|default({}) }) }}
            {{ form_widget(form_edit) }}

            <input type="submit" value="{{ 'action.save'|trans }}"
                   class="{{ button_css|default("btn btn-primary") }}" />

        {{ form_end(form_edit) }}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="col-sm-3">
        <div class="section actions">
            {% set attr = {'data-confirmation': 'true'} %}
            {{ include('default/_delete_confirmation.html.twig') }}

            {{ form_start(form_delete, { attr: attr|default({}) }) }}
                {{ form_widget(form_edit) }}

                <input type="submit" value="{{ 'action.delete_building'|trans }}"
                       class="btn btn-lg btn-block btn-danger" />

            {{ form_end(form_delete) }}
        </div>
        <div class="well well-lg">
            <a href="{{ path('admin_building_show', {'id':building.id}) }}" class="btn btn-link btn-block">
                <i class="fa fa-backward"></i>{{ 'action.back_to_list'|trans }}
            </a>
        </div>

        {{ parent() }}
    </div>
{% endblock %}
