{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>{{ 'title.building_list'|trans }}</h1>
    <div id="sidebar" class="col-sm-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'label.id'|trans }}</th>
                    <th><i class="fa fa-building"></i> {{ 'label.name'|trans }}</th>
                    <th><i class="fa fa-home"></i> {{ 'label.apartments_cnt'|trans }}</th>
                    <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for building in buildings %}
                <tr>
                    <td>{{ building.getId }}</td>
                    <td>{{ building.getName }}</td>
                    <td>{{ building.apartments|length }}</td>
                    <td>
                        <div class="item-actions">
                            <a href="{{ path('admin_building_show', { id: building.id }) }}" class="btn btn-sm btn-default">
                                {{ 'action.show'|trans }}
                            </a>
                            <a href="{{ path('admin_building_edit', { id: building.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">{{ 'user.no_posts_found'|trans }}</td>
               </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
    {% block sidebar %}
        <div id="sidebar" class="col-sm-3">
            <div class="section actions">
                <a href="{{ path('admin_building_new') }}" class="btn btn-lg btn-block btn-success">
                    <i class="fa fa-plus"></i> {{ 'action.create_building'|trans }}
                </a>
            </div>
            <div class="section about">
                <div class="well well-lg">
                    <p>
                        {{ 'building.list_building.info'|trans }}
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
