{% extends 'admin/layout.html.twig' %}

{% block main %}
    <div id="sidebar" class="col-sm-9">
        <h1>{{ 'title.building_new'|trans }}</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}

            <input type="submit" value="{{ 'label.create_building'|trans }}" class="btn btn-primary" />

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="col-sm-3">
        <div class="section actions">
            <div class="well well-lg">
                <a href="{{ path('admin_building_index') }}" class="btn btn-link btn-block">
                    <i class="fa fa-backward"></i>{{ 'action.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

