{% extends 'admin/layout.html.twig' %}

{% block main %}
    <div id="sidebar" class="col-sm-9">
        <h1>{{ building.name }}</h1>

        <i class="fa fa-building-o fa-5" style="font-size: 12em;"></i>

        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'label.name'|trans }}</th>
                    <td>{{ building.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.description'|trans }}</th>
                    <td>{#{{ post.content|md2html }}#}</td>
                </tr>
                {% if building.apartments|length %}
                    <tr>
                        <th>{{ 'label.apartments'|trans }}</th>
                        <td>
                            <table class="table table-striped">
                            {% for apt in building.apartments %}
                                <tr>
                                    <th>
                                        {{ apt.number }}
                                    </th>
                                    <td>
                                        <div class="item-actions">
                                            <a href="{{ path('admin_apartment_show', { id: apt.id }) }}" class="btn btn-sm btn-default">
                                                {{ 'action.show'|trans }}
                                            </a>
                                            <a href="{{ path('admin_apartment_edit', { id: apt.id }) }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="2">
                                    {{ render(controller('ConciergeBundle:Apartment:form', { 'id' : building.id})) }}
                                </th>
                            </tr>
                            </table>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="col-sm-3">
        <div class="section">
            <a href="{{ path('admin_building_edit', { id: building.id }) }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
            </a>
        </div>
        <div class="well well-lg">
            <a href="{{ path('admin_building_index') }}" class="btn btn-link btn-block">
                <i class="fa fa-backward"></i>{{ 'action.back_to_list'|trans }}
            </a>
        </div>
    </div>

{% endblock %}
